.user-avatar {
  display: flex;
  align-items: center;
}

.user-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
}

.username {
  font-weight: bold;
  font-size: 14px;
}